.start-wrapper {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    border: 1px solid #3F5A89;
    border-radius: 3px;
    font-size: 10em;
  }

  &--hidden {
    display: none;
  }
}
